[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
docopt = "*"
parsel = "*"
requests = "*"
idna-ssl = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.6"

[scripts]
coverage = "pytest --cov-report html --cov=looter --cov-config .coveragerc -v -m ok"
