import asyncio
import looter as lt
from pprint import pprint

domain = ''

async def crawl(url):
    tree = await lt.async_fetch(url)
    items = tree.cssselect()
    for item in items:
        data = dict()
        # data[...] = item.cssselect(...)
        pprint(data)


if __name__ == '__main__':
    tasklist = []
    loop = asyncio.get_event_loop()
    result = [crawl(task) for task in tasklist]
    loop.run_until_complete(asyncio.wait(result))