import looter as lt

domain = ''

def crawl(url):
    tree = lt.fetch(url)
    imgs = tree.cssselect()
    lt.async_save_imgs(imgs)


if __name__ == '__main__':
    tasklist = []
    result = [crawl(task) for task in tasklist]